<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fundra"
        tools:targetApi="31">
        <activity
            android:name=".rewardBasedActivity"
            android:exported="false" />
        <activity
            android:name=".FirstProjectActivity"
            android:exported="false" />
        <activity
            android:name=".InstaPayDonationActivity"
            android:exported="false" />
        <activity
            android:name=".VodafoneDonationActivity"
            android:exported="false" />

        <activity
            android:name=".InvestActivity"
            android:exported="false" />
        <activity
            android:name=".InvestmentsActivity"
            android:exported="false" />
        <activity
            android:name=".AddCampaignActivity"
            android:exported="false" />
        <activity
            android:name=".balance.vodafon_addMony_Activity"
            android:exported="false" />
        <activity
            android:name=".InstaPayActivity"
            android:exported="false" />
        <activity
            android:name=".vodafone_Activity_receipt"
            android:exported="false" />
        <activity
            android:name=".sign.Business_Owner_Activity"
            android:exported="false"
            android:theme="@style/Base.Theme.Fundra" />
        <activity
            android:name=".Special_CausesActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.Fundra" />
        <activity
            android:name=".FirstSpecialCaseActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.Fundra" />
        <activity
            android:name=".BaheyaActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.Fundra" />
        <activity
            android:name=".CommunityActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.Fundra" />
        <activity
            android:name=".SavedActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.Fundra" />
        <activity
            android:name=".DonationActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Fundra" />
        <activity
            android:name=".balance.NewCardActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.Fundra" />
        <activity
            android:name=".FirstCompanyActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.Fundra" />
        <activity
            android:name=".balance.CardsActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.Fundra" />
        <activity
            android:name=".balance.WithdrawlActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.Fundra" />
        <activity
            android:name=".balance.AddMoneyActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.Fundra" />
        <activity
            android:name=".sign.ResetNewPassword"
            android:exported="false"
            android:theme="@style/Base.Theme.Fundra" />
        <activity
            android:name=".menu.ChatBotActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.Fundra" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.Fundra" />
        <activity
            android:name=".menu.Account_Activity"
            android:exported="false"
            android:theme="@style/Base.Theme.Fundra" />
        <activity
            android:name=".menu.Wallet_Activity"
            android:exported="false"
            android:theme="@style/Base.Theme.Fundra" />
        <activity
            android:name=".menu.Home_Activity"
            android:exported="false"
            android:theme="@style/Base.Theme.Fundra" />
        <activity
            android:name=".sign.OTP"
            android:exported="false"
            android:theme="@style/Base.Theme.Fundra" />
        <activity
            android:name=".sign.ForgetPass"
            android:exported="false"
            android:theme="@style/Base.Theme.Fundra" />
        <activity
            android:name=".Home"
            android:exported="false"
            android:theme="@style/Base.Theme.Fundra" />
        <activity
            android:name=".sign.Sign_up"
            android:exported="true"
            android:theme="@style/Base.Theme.Fundra" />
        <activity
            android:name=".sign.Sign_in"
            android:exported="true"
            android:theme="@style/Base.Theme.Fundra" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Fundra">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>