<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fundra"
        tools:targetApi="31">
        <activity
            android:name=".BaheyaActivity"
            android:exported="false" />
        <activity
            android:name=".Sorting_BottomSheet_Dialog"
            android:exported="false" />
        <activity
            android:name=".CommunityActivity"
            android:exported="false" />
        <activity
            android:name=".SavedActivity"
            android:exported="false" />
        <activity
            android:name=".DonationActivity"
            android:exported="true" />
        <activity
            android:name=".balance.NewCardActivity"
            android:exported="false" />
        <activity
            android:name=".FirstCompanyActivity"
            android:exported="false" />
        <activity
            android:name=".balance.CardsActivity"
            android:exported="false" />
        <activity
            android:name=".WithdrawlActivity"
            android:exported="false" />
        <activity
            android:name=".balance.AddMoneyActivity"
            android:exported="false" />
        <activity
            android:name=".ResetNewPassword"
            android:exported="false" />
        <activity
            android:name=".menu.ChatBotActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".menu.Account_Activity"
            android:exported="false" />
        <activity
            android:name=".menu.Wallet_Activity"
            android:exported="false" />
        <activity
            android:name=".menu.Home_Activity"
            android:exported="false" />
        <activity
            android:name=".OTP"
            android:exported="false" />
        <activity
            android:name=".ForgetPass"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Sign_up"
            android:exported="true" />
        <activity
            android:name=".Sign_in"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>